.brand {
  font-size: large;
  font-weight: bold;
  color: #FFFFFF;
}

.menubar-button {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-left: 1px solid #FFFFFF;
  height: 100%;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.menubar-button:hover {
  border-bottom: 1px solid #FFFFFF;
}

.menubar-button:last-child {
  border-right: 1px solid #FFFFFF;
}

.menubar-button .menubar-button-icon {
  font-size: larger;
}

.text-button .menubar-button-icon {
  margin-right: 0.5rem;
}


