<nav class="navbar">
  <div class="container">
    <div class="brand">
      <a href="#">Khadamni</a>
    </div>
    <ul class="links">
      <li>
        <a href="#"><fa-icon [icon]="faBell"></fa-icon></a>
      </li>
      <li>
        <a href="#"><fa-icon [icon]="faEnvelope"></fa-icon></a>
      </li>
      <li>
        <a href="#">
          <fa-icon [icon]="faUser" class="icon-left"></fa-icon>User<fa-icon [icon]="faAngleDown" class="icon-right"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</nav>
