.form-container {
  background-color: #FFFFFF;
  border: 1px solid rgb(0 0 0 / 14%);
  text-align: center;
}

.register-types {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.register-type {
  padding: 0.5rem;
  background: #FFFFFF;
  border-radius: 5px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  border: 1px solid rgb(0 0 0 / 14%);
}

.register-type img {
  height: 100px;
}

.register-type.selected {
  background-color: rgba(74, 163, 232, 0.7);
}
