.form-container {
  background-color: #FFFFFF;
  border: 1px solid rgb(0 0 0 / 14%);
  text-align: center;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.register-types {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.register-type {
  padding: 0.5rem;
  background: #FFFFFF;
  border: 1px solid rgb(0 0 0 / 14%);
  border-radius: 5px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.register-type img {
  height: 100px;
}

.register-type.selected {
  background-color: rgba(74, 163, 232, 0.7);
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}
