<div class="grid">
  <div class="col-12">
    <div class="grid section">
      <div class="col-12 md:col-5 md:col-offset-1">
        <app-card-button [title]="'Upload Resume'" [subTitle]="'Upload Your Resume So Recruiters Can Find You Easily!'"
          [image]="'../assets/images/resume.png'"></app-card-button>
      </div>

      <div class="col-12 md:col-5">
        <app-card-button [title]="'Post Job Offer'" [subTitle]="'Post Your Job Offer So Job Seekers Can Apply Easily!'"
          [image]="'../assets/images/offer.png'"></app-card-button>
      </div>
    </div>

    <div class="section">
      <h1 class="section-header">Trending Companies</h1>
      <p-carousel [styleClass]="'companies-carousel'" [value]="companies" [numScroll]="1" [numVisible]="6"
        [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <ng-template let-company pTemplate="item">
          <app-company-thumbnail [name]="'Company'" [offers]="150"></app-company-thumbnail>
        </ng-template>
      </p-carousel>
    </div>

    <div class="grid section">
      <div class="col-12 md:col-10 md:col-offset-1">
        <h1 class="section-header">Recent Offers</h1>
        <app-offers-list [items]="[]"></app-offers-list>
        <p-paginator [rows]="10" [totalRecords]="100" [showPageLinks]="true" [showJumpToPageDropdown]="true"></p-paginator>
      </div>
    </div>
  </div>
</div>
