.container, .inner-container {
  background-color: #FFFFFF;
  border: 1px solid rgb(0 0 0 / 14%);
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

@media screen and (max-width: 768px){
  .offer-info {
    text-align: center;
  }
}

.inner-container {
  margin: 1rem;
}

.company-logo {
  width: 100%;
}

@media screen and (max-width: 768px){
  .company-logo {
    max-height: 200px;
    width: auto;
  }
}

.title {
  font-weight: 500;
  font-size: large;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-weight: 300;
  font-size: small;
  margin-top: 0.5rem;
}

.offer-info .subtitle fa-icon {
  color: #4AA3E8;
}

.offer-info .subtitle {
  color: #888888;
}

.offer-requirements .title {
  margin-bottom: 0.5rem;
  font-size: medium;
}

.offer-requirements .content {
  padding-left: 5px;
  font-size: small;
}

@media screen and (min-width: 768px){
  .offer-requirements > div:first-child {
    border-right: 1px solid rgb(0 0 0 / 14%);
  }

  .offer-requirements > div:nth-child(2) {
    border-right: 1px solid rgb(0 0 0 / 14%);
  }

  .offer-requirements > div:nth-child(4) {
    border-top: 1px solid rgb(0 0 0 / 14%);
    border-right: 1px solid rgb(0 0 0 / 14%);
  }

  .offer-requirements > div:nth-child(5) {
    border-top: 1px solid rgb(0 0 0 / 14%);
    border-right: 1px solid rgb(0 0 0 / 14%);
  }

  .offer-requirements > div:last-child {
    border-top: 1px solid rgb(0 0 0 / 14%);
  }
}

@media screen and (max-width: 768px){
  .offer-requirements > div {
    border-bottom: 1px solid rgb(0 0 0 / 14%);
  }

  .offer-requirements > div:last-child {
    border-bottom: none;
  }
}

.header {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

.header .step-title {
  font-weight: 300;
}

.buttons {
  margin-top: 2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@media screen and (min-width: 576px){
  .buttons {
    display: flex;
    justify-content: flex-end;
  }

  .buttons button {
    width: 20%;
  }

  .buttons button:first-child {
    width: 20%;
    margin-right: 0.5rem;
  }

  .buttons button:last-child {
    width: 20%;
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 576px){
  .buttons {
    display: flex;
    flex-direction: column-reverse;
  }

  .buttons button {
    width: 100%;
  }

  .buttons button:last-child {
    margin-bottom: 0.5rem;
  }
}
