* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  position: relative;
  margin: 0;
  background-color: #FAFAFA;
}

a {
  color: #2196F3;
}

.p-card {
  border: 1px solid rgb(0 0 0 / 14%);
  cursor: pointer;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #4AA3E8;
}

.p-paginator {
  background: none;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  box-shadow: none;
}

.main-content {
  color: #495057;
  margin: 1rem;
  min-height: 100vh;
}

@media screen and (max-width: 576px){
  .main-content {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

.button-icon {
  margin-right: 0.5rem;
}

.flex-align-end {
  align-self: flex-end;
}

.app-button-coquelicot {
  background-color: #FF4410;
  border-color: #FF4410;
  box-shadow: none;
}

.app-button-coquelicot:enabled:hover {
  background: #F53500;
  border-color: #F53500;
}

.app-button-coquelicot:enabled:active {
  background: #CC2C00;
  border-color: #CC2C00;
}

.app-button-coquelicot:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #FF8F70;
}

.app-button-safetyorange {
  background-color: #FF6700;
  border-color: #FF6700;
  box-shadow: none;
}

.app-button-safetyorange:enabled:hover {
  background: #E05A00;
  border-color: #E05A00;
}

.app-button-safetyorange:enabled:active {
  background: #B84900;
  border-color: #B84900;
}

.app-button-safetyorange:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #FF8533;
}

