* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  position: relative;
  margin: 0;
  background-color: #FAFAFA;
}

a {
  color: #2196F3;
}

.p-card {
  border: 1px solid rgb(0 0 0 / 14%);
  cursor: pointer;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #3A6EA5;
}

.p-paginator {
  background: none;
}

.main-content {
  color: #495057;
  margin: 1rem;
  min-height: 100vh;
}

@media screen and (max-width: 576px){
  .main-content {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

.button-icon {
  margin-right: 0.5rem;
}
