<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <img src="../../../assets/images/not-found.png" alt="Not Found Logo">
        <div class="text-900 font-bold text-5xl mb-3">404 - Page Not Found</div>
        <div class="text-700 text-2xl mb-5">The page that you requested was not found.</div>
        <button pButton label="Return To Home Page" class="font-bold px-5 py-3 p-button-raised white-space-nowrap" [routerLink]="['/']"></button>
    </div>
</div>
