.form-container {
  background-color: #FFFFFF;
  text-align: center;
  border: 1px solid rgb(0 0 0 / 14%);
  padding: 1rem;
}

.form {
  padding-top: 2rem;
}

.header {
  font-weight: 500;
}

.field,
.double-field {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 992px) {

  .field,
  .double-field {
    font-size: small;
  }
}

.double-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  text-align: center;
  margin-bottom: 1rem;
}

@media screen and (max-width: 992px) {
  .footer {
    font-size: small;
  }
}

.field input {
  width: 100%;
}

.field input {
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #757575;
}

.field input:enabled:focus {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #757575;
  outline: none;
}

.field input:enabled:hover {
  border-color: #757575;
}

.button {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.button p-button ::ng-deep button {
  width: 100%;
}
