<app-offers-list-item [title]="'Angular Developer'" [company]="'Google'" [logo]="'google-logo.png'"
  [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia praesentium doloremque hic doloribus. Omnis molestias fuga, adipisci ipsa doloremque quos maiores reiciendis dolore, itaque ut earum neque. Optio, corporis molestiae!'">
</app-offers-list-item>
<app-offers-list-item [title]="'Scrum Master'" [company]="'Google'" [logo]="'google-logo.png'"
  [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia praesentium doloremque hic doloribus. Omnis molestias fuga, adipisci ipsa doloremque quos maiores reiciendis dolore, itaque ut earum neque. Optio, corporis molestiae!'">
</app-offers-list-item>
<app-offers-list-item [title]="'Product Manager'" [company]="'Google'" [logo]="'google-logo.png'"
  [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia praesentium doloremque hic doloribus. Omnis molestias fuga, adipisci ipsa doloremque quos maiores reiciendis dolore, itaque ut earum neque. Optio, corporis molestiae!'">
</app-offers-list-item>
<app-offers-list-item [title]="'Database Administrator'" [company]="'Microsoft'" [logo]="'microsoft-logo.png'"
  [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia praesentium doloremque hic doloribus. Omnis molestias fuga, adipisci ipsa doloremque quos maiores reiciendis dolore, itaque ut earum neque. Optio, corporis molestiae!'">
</app-offers-list-item>
<app-offers-list-item [title]="'.NET Developer'" [company]="'Microsoft'" [logo]="'microsoft-logo.png'"
  [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia praesentium doloremque hic doloribus. Omnis molestias fuga, adipisci ipsa doloremque quos maiores reiciendis dolore, itaque ut earum neque. Optio, corporis molestiae!'">
</app-offers-list-item>
<app-offers-list-item [title]="'JEE Developer'" [company]="'Microsoft'" [logo]="'microsoft-logo.png'"
  [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia praesentium doloremque hic doloribus. Omnis molestias fuga, adipisci ipsa doloremque quos maiores reiciendis dolore, itaque ut earum neque. Optio, corporis molestiae!'">
</app-offers-list-item>

