<app-offers-list-item [title]="'This is a job offer'" [company]="'VERMEG Banking'"
  [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia praesentium doloremque hic doloribus. Omnis molestias fuga, adipisci ipsa doloremque quos maiores reiciendis dolore, itaque ut earum neque. Optio, corporis molestiae!'">
</app-offers-list-item>
<app-offers-list-item [title]="'This is a job offer'" [company]="'VERMEG Banking'"
  [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia praesentium doloremque hic doloribus. Omnis molestias fuga, adipisci ipsa doloremque quos maiores reiciendis dolore, itaque ut earum neque. Optio, corporis molestiae!'">
</app-offers-list-item>
<app-offers-list-item [title]="'This is a job offer'" [company]="'VERMEG Banking'"
  [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia praesentium doloremque hic doloribus. Omnis molestias fuga, adipisci ipsa doloremque quos maiores reiciendis dolore, itaque ut earum neque. Optio, corporis molestiae!'">
</app-offers-list-item>
<app-offers-list-item [title]="'This is a job offer'" [company]="'VERMEG Banking'"
  [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia praesentium doloremque hic doloribus. Omnis molestias fuga, adipisci ipsa doloremque quos maiores reiciendis dolore, itaque ut earum neque. Optio, corporis molestiae!'">
</app-offers-list-item>
<app-offers-list-item [title]="'This is a job offer'" [company]="'VERMEG Banking'"
  [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia praesentium doloremque hic doloribus. Omnis molestias fuga, adipisci ipsa doloremque quos maiores reiciendis dolore, itaque ut earum neque. Optio, corporis molestiae!'">
</app-offers-list-item>
