.container {
  background-color: #FFFFFF;
  border: 1px solid rgb(0 0 0 / 14%);
}

.container>.grid {
  margin: 0;
}

.offer-info {
  margin-bottom: 1rem;
}

.offer-description {
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .offer-info {
    text-align: center;
  }
}

.company-logo {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .company-logo {
    max-height: 200px;
    width: auto;
  }
}

.title {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-weight: 300;
  font-size: small;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.offer-info .subtitle>fa-icon {
  color: #4AA3E8;
}

.offer-info .subtitle {
  color: #888888;
}

.offer-info .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offer-info p-button {
  align-self: flex-end;
}

.offer-info p-button ::ng-deep button {
  width: 150px;
}

@media screen and (max-width: 768px) {
  .offer-info p-button {
    width: 100%;
    padding-top: 1rem;
    align-self: center;
  }
}

@media screen and (max-width: 567px) {
  .offer-info p-button ::ng-deep button {
    width: 100%;
  }
}

.offer-requirements .content {
  padding-left: 5px;
  font-size: small;
}

@media screen and (min-width: 768px) {
  .offer-requirements>.grid>div:first-child {
    border-right: 1px solid rgb(0 0 0 / 14%);
  }

  .offer-requirements>.grid>div:nth-child(2) {
    border-right: 1px solid rgb(0 0 0 / 14%);
  }

  .offer-requirements>.grid>div:nth-child(4) {
    border-top: 1px solid rgb(0 0 0 / 14%);
    border-right: 1px solid rgb(0 0 0 / 14%);
  }

  .offer-requirements>.grid>div:nth-child(5) {
    border-top: 1px solid rgb(0 0 0 / 14%);
    border-right: 1px solid rgb(0 0 0 / 14%);
  }

  .offer-requirements>.grid>div:last-child {
    border-top: 1px solid rgb(0 0 0 / 14%);
  }
}

@media screen and (max-width: 768px) {
  .offer-requirements>.grid>div {
    border-bottom: 1px solid rgb(0 0 0 / 14%);
  }

  .offer-requirements>.grid>div:last-child {
    border-bottom: none;
  }
}
