<div class="container offer-info">
  <div class="grid">
    <div class="col-12 md:col-3">
      <img src="../../../assets/images/company.png" alt="company-logo" class="company-logo" />
    </div>
    <div class="col-12 md:col-9 content">
      <div class="text">
        <div class="title">Angular/JEE Senior Developer</div>
        <div class="subtitle">
          <fa-icon [icon]="faBuilding"></fa-icon> ACTIA Engineering
        </div>
        <div class="subtitle">
          <fa-icon [icon]="faMapMarkedAlt"></fa-icon> Ariana, Tunisie
        </div>
        <div class="subtitle">
          <fa-icon [icon]="faClock"></fa-icon> 12/10/2021
        </div>
      </div>
      <div class="buttons" *ngIf="!preview">
        <button pButton type="button" label=" " class="p-button p-button-primary">
          <span class="w-full">Apply</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container  offer-requirements">
  <div class="grid">
    <div class="col-12 md:col-4">
      <div class="title">Required Degree</div>
      <div class="content">
        - Masters
        <br>
        - DEA
        <br>
      </div>
    </div>
    <div class="col-12 md:col-4">
      <div class="title">Employment Type</div>
      <div class="content">
        - CDI
        <br>
        - CDD
        <br>
        - Karama
        <br>
      </div>
    </div>
    <div class="col-12 md:col-4">
      <div class="title">Gender</div>
      <div class="content">
        - Male
        <br>
        - Female
        <br>
      </div>
    </div>
    <div class="col-12 md:col-4">
      <div class="title">Experience</div>
      <div class="content">
        - 1 to 3 years
      </div>
    </div>
    <div class="col-12 md:col-4">
      <div class="title">Skills</div>
      <div class="content">
        - HTML
        <br>
        - JavaScript
        <br>
        - PHP
        <br>
      </div>
    </div>
    <div class="col-12 md:col-4">
      <div class="title">Open Spots</div>
      <div class="content">
        - 3 Spots
      </div>
    </div>
  </div>
</div>
<div class="container offer-description">
  <div class="grid">
    <div class="col-12">
      <div class="title">
        Job Description
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, ad asperiores. Illo maiores labore, aperiam
        excepturi
        quasi corporis! Possimus dolorum praesentium vitae quia recusandae iure quasi sed porro aspernatur, ex, quibusdam a
        numquam dolor. Animi quam eveniet odio? Placeat cumque minus laudantium architecto repellendus tempore delectus ex
        optio
        omnis vitae.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, ad asperiores. Illo maiores labore, aperiam
        excepturi
        quasi corporis! Possimus dolorum praesentium vitae quia recusandae iure quasi sed porro aspernatur, ex, quibusdam a
        numquam dolor. Animi quam eveniet odio? Placeat cumque minus laudantium architecto repellendus tempore delectus ex
        optio
        omnis vitae.
      </div>
    </div>
  </div>
</div>
