<div class="container offer-info shadow-3">
  <div class="grid">
    <div class="col-12 md:col-3">
      <img [src]="companyLogoURL" alt="company-logo" class="company-logo" />
    </div>
    <div class="col-12 md:col-9 content">
      <div class="text">
        <h3 class="title">{{ offer?.title }}</h3>
        <div class="subtitle">
          <fa-icon [icon]="faBuilding"></fa-icon> {{ company?.name }}
        </div>
        <div class="subtitle">
          <fa-icon [icon]="faMapMarkedAlt"></fa-icon> {{ company?.address }}
        </div>
        <div class="subtitle">
          <fa-icon [icon]="faClock"></fa-icon> 25/04/2022
        </div>
      </div>
      <p-button label="Apply" styleClass="p-button-primary p-button-sm"></p-button>
    </div>
  </div>
</div>

<div class="container  offer-requirements shadow-3">
  <div class="grid">
    <div class="col-12 md:col-4">
      <h4 class="title">Required Degree</h4>
      <div class="content">
        - {{ offer?.degree ? offer.degree : 'None' }}
      </div>
    </div>
    <div class="col-12 md:col-4">
      <h4 class="title">Employment Type</h4>
      <div class="content">
        - {{ offer?.type ? offer.type : 'Not Specified' }}
      </div>
    </div>
    <div class="col-12 md:col-4">
      <h4 class="title">Gender</h4>
      <div class="content">
        - {{ offer?.gender ? offer.gender : 'Both' }}
      </div>
    </div>
    <div class="col-12 md:col-4">
      <h4 class="title">Experience</h4>
      <div class="content">
        - {{ offer?.minimumExperience }} {{ offer?.recommendedExperience ? 'to ' + offer.recommendedExperience + ' years' : '' }}
      </div>
    </div>
    <div class="col-12 md:col-4">
      <h4 class="title">Skills</h4>
      <div class="content">
        <span class="skill" *ngFor="let skill of offer?.skills">
          - {{ skill }}
        </span>
      </div>
    </div>
    <div class="col-12 md:col-4">
      <h4 class="title">Open Spots</h4>
      <div class="content">
        - {{ offer?.spots ? offer.spots : 'Not Specified' }} Spots
      </div>
    </div>
  </div>
</div>
<div class="container offer-description shadow-3">
  <div class="grid">
    <div class="col-12">
      <div class="title">
        Job Description
      </div>
      <div class="content">
        {{ offer?.description }}
      </div>
    </div>
  </div>
</div>
