<h1 class="header">Register Company</h1>
<form class="form" #form="ngForm">
  <div class="grid">
    <div class="col-12 md:col-6 align-self-end">
      <div class="field">
        <span class="p-float-label">
          <input inputId="name" type="text" pInputText />
          <label for="name">
            <fa-icon [icon]="faBuilding" class="icon-left"></fa-icon>Company Name
          </label>
        </span>
      </div>
    </div>
    <div class="col-12 md:col-6 align-self-end">
      <div class="field">
        <span class="p-float-label">
          <input inputId="category" type="text" pInputText />
          <label for="category">
            <fa-icon [icon]="faTag" class="icon-left"></fa-icon>Category
          </label>
        </span>
      </div>
    </div>
    <div class="col-12 md:col-6 align-self-end">
      <div class="field">
        <span class="p-float-label">
          <input inputId="email" type="email" pInputText />
          <label for="email">
            <fa-icon [icon]="faAt" class="icon-left"></fa-icon>Email
          </label>
        </span>
      </div>
    </div>
    <div class="col-12 md:col-6 align-self-end">
      <div class="field">
        <span class="p-float-label">
          <input inputId="contactnumber" type="text" pInputText />
          <label for="contactnumber">
            <fa-icon [icon]="faPhoneAlt" class="icon-left"></fa-icon>Contact Number
          </label>
        </span>
      </div>
    </div>
    <div class="col-12 md:col-6 align-self-end">
      <div class="field">
        <span class="p-float-label">
          <input inputId="password" type="password" pInputText />
          <label for="password">
            <fa-icon [icon]="faLock" class="icon-left"></fa-icon>Password
          </label>
        </span>
      </div>
    </div>
    <div class="col-12 md:col-6 align-self-end">
      <div class="field">
        <span class="p-float-label">
          <input inputId="confirmpassword" type="password" pInputText />
          <label for="confirmpassword">
            <fa-icon [icon]="faLock" class="icon-left"></fa-icon>Confirm Password
          </label>
        </span>
      </div>
    </div>
    <div class="col-12 align-self-end">
      <div class="field">
        <span class="p-float-label">
          <input inputId="address" type="text" pInputText />
          <label for="address">
            <fa-icon [icon]="faMapMarkedAlt" class="icon-left"></fa-icon>Address
          </label>
        </span>
      </div>
    </div>
    <div class="col-12 align-self-end">
      <div class="field">
        <span class="p-float-label">
          <textarea inputId="description" rows="10" pInputTextarea></textarea>
          <label for="description">
            <fa-icon [icon]="faInfoCircle" class="icon-left"></fa-icon>Description
          </label>
        </span>
      </div>
    </div>
    <div class="col-12 align-self-end">
      <div class="button">
        <p-button styleClass="p-button-warning" (onClick)="uploadLogo()">
          <ng-template pTemplate="content">
            <span class="w-full font-bold">
              <fa-icon [icon]="faUpload" class="icon-left"></fa-icon>Upload Logo
            </span>
          </ng-template>
        </p-button>
        <input type="file" class="upload-element" #uploadLogoElement />
      </div>
    </div>
    <div class="col-12 align-self-end">
      <div class="button checkbox-group">
        <p-checkbox [(ngModel)]="tos" [binary]="true" inputId="tos-pp"></p-checkbox>
        <label for="tos-pp">I have read and accept the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></label>
      </div>
    </div>
    <div class="col-12 align-self-end">
      <div class="button">
        <p-button label="Register" styleClass="p-button-primary"></p-button>
      </div>
    </div>
  </div>
</form>
