.form {
  padding-top: 2rem;
}

.header {
  font-weight: 500;
}

.entry,
.action {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.entry input,
.entry textarea,
p-button ::ng-deep button {
  width: 100%;
}

.entry input,
.entry textarea {
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #757575;
}

.entry textarea {
  resize: none;
}

.entry input:enabled:focus,
.entry textarea:enabled:focus {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #757575;
  outline: none;
}

.entry input:enabled:hover,
.entry textarea:enabled:hover {
  border-color: #757575;
}

.action .upload-element {
  display: none;
}

@media screen and (max-width: 992px) {

  label {
    font-size: small;
  }
}
