.form {
  padding-top: 2rem;
}

.header {
  font-weight: 500;
}

.field,
.button {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.field input,
.field textarea,
p-button ::ng-deep button {
  width: 100%;
}

.field input,
.field textarea {
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #757575;
}

.field textarea {
  resize: none;
}

.field input:enabled:focus,
.field textarea:enabled:focus {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #757575;
  outline: none;
}

.field input:enabled:hover,
.field textarea:enabled:hover {
  border-color: #757575;
}

.button .upload-element {
  display: none;
}

@media screen and (max-width: 992px) {

  label {
    font-size: small;
  }
}
