<h1 class="header">Register Company</h1>
<form class="form" #form="ngForm">
  <div class="grid">
    <div class="col-12 md:col-6 flex-align-end">
      <div class="entry">
        <span class="p-float-label">
          <input inputId="name" type="text" pInputText />
          <label for="name">
            <fa-icon [icon]="faBuilding" class="button-icon"></fa-icon>Company Name
          </label>
        </span>
      </div>
    </div>
    <div class="col-12 md:col-6 flex-align-end">
      <div class="entry">
        <span class="p-float-label">
          <input inputId="category" type="text" pInputText />
          <label for="category">
            <fa-icon [icon]="faTag" class="button-icon"></fa-icon>Category
          </label>
        </span>
      </div>
    </div>
    <div class="col-12 md:col-6 flex-align-end">
      <div class="entry">
        <span class="p-float-label">
          <input inputId="email" type="email" pInputText />
          <label for="email">
            <fa-icon [icon]="faAt" class="button-icon"></fa-icon>Email
          </label>
        </span>
      </div>
    </div>
    <div class="col-12 md:col-6 flex-align-end">
      <div class="entry">
        <span class="p-float-label">
          <input inputId="contactnumber" type="text" pInputText />
          <label for="contactnumber">
            <fa-icon [icon]="faPhoneAlt" class="button-icon"></fa-icon>Contact Number
          </label>
        </span>
      </div>
    </div>
    <div class="col-12 md:col-6 flex-align-end">
      <div class="entry">
        <span class="p-float-label">
          <input inputId="password" type="password" pInputText />
          <label for="password">
            <fa-icon [icon]="faLock" class="button-icon"></fa-icon>Password
          </label>
        </span>
      </div>
    </div>
    <div class="col-12 md:col-6 flex-align-end">
      <div class="entry">
        <span class="p-float-label">
          <input inputId="confirmpassword" type="password" pInputText />
          <label for="confirmpassword">
            <fa-icon [icon]="faLock" class="button-icon"></fa-icon>Confirm Password
          </label>
        </span>
      </div>
    </div>
    <div class="col-12 flex-align-end">
      <div class="entry">
        <span class="p-float-label">
          <input inputId="address" type="text" pInputText />
          <label for="address">
            <fa-icon [icon]="faMapMarkedAlt" class="button-icon"></fa-icon>Address
          </label>
        </span>
      </div>
    </div>
    <div class="col-12 flex-align-end">
      <div class="entry">
        <span class="p-float-label">
          <textarea inputId="description" rows="10" pInputTextarea></textarea>
          <label for="description">
            <fa-icon [icon]="faInfoCircle" class="button-icon"></fa-icon>Description
          </label>
        </span>
      </div>
    </div>
    <div class="col-12 flex-align-end">
      <div class="entry">
        <div class="upload-button-wrapper">
          <button pButton type="button" label=" " class="p-button app-button-safetyorange">
            <span style="width: 100%;">
              <fa-icon [icon]="faUpload" class="button-icon"></fa-icon>Upload Logo
            </span>
          </button>
          <input type="file" class="upload-element" />
        </div>
      </div>
    </div>
    <div class="col-12 flex-align-end">
      <div class="entry">
        <p-checkbox [(ngModel)]="tos" [binary]="true"></p-checkbox>
        <span>I have read and accept the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></span>
      </div>
    </div>
    <div class="col-12 flex-align-end">
      <div class="entry">
        <button pButton type="button" label=" " class="p-button p-button-primary">
          <span style="width: 100%;">Register</span>
        </button>
      </div>
    </div>
  </div>
</form>
