<div class="form-container">
  <h1 class="header">Step 2: <span class="step-title">Profile Details</span></h1>
  <div class="form">
    <div class="grid">
      <div class="col-12 flex-align-end">
        <div class="entry">
          <span class="static-float-label">
            <div class="skills-selector">
              <span *ngFor="let skill of skills; let i = index;" class="p-input-icon-right skill-badge">
                <i (click)="removeSkill(i)" class="pi pi-times-circle"></i>
                <input type="text" pInputText [value]="skill" readonly />
              </span>
              <span *ngIf="skillsCount < maxSkillsCount" class="p-input-icon-right skill-adder">
                <i (click)="addSkill()" class="pi pi-plus-circle"></i>
                <input [(ngModel)]="skillInput" type="text" pInputText placeholder="Add Skill" />
              </span>
            </div>
            <label>
              <fa-icon [icon]="faFistRaised" class="button-icon"></fa-icon>Skills ({{ maxSkillsCount - skillsCount }}
              remaining)
            </label>
          </span>
        </div>
      </div>
      <div class="col-12 md:col-6 flex-align-end">
        <div class="entry">
          <span class="p-float-label">
            <p-dropdown inputId="requireddegree" [autoDisplayFirst]="false" [options]="degrees" optionLabel="name" optionValue="code">
            </p-dropdown>
            <label for="requireddegree">
              <fa-icon [icon]="faGraduationCap" class="button-icon"></fa-icon>Required Degree
            </label>
          </span>
        </div>
      </div>
      <div class="col-12 md:col-6 flex-align-end">
        <div class="entry">
          <span class="radio-label">
            <fa-icon [icon]="faVenusMars" class="button-icon"></fa-icon>Gender:
          </span>
          <p-radioButton name="gender" label="Male" value="male"></p-radioButton>
          <p-radioButton name="gender" label="Female" value="female"></p-radioButton>
        </div>
      </div>
      <div class="col-12 md:col-6 flex-align-end">
        <div class="entry">
          <span class="p-float-label">
            <p-inputNumber inputId="minexp" mode="decimal" [min]="1" [max]="15"></p-inputNumber>
            <label for="minexp">
              <fa-icon [icon]="faBusinessTime" class="button-icon"></fa-icon>Minimum Experience
            </label>
          </span>
        </div>
      </div>
      <div class="col-12 md:col-6 flex-align-end">
        <div class="entry">
          <span class="p-float-label">
            <p-inputNumber inputId="recexp" mode="decimal" [min]="1" [max]="15"></p-inputNumber>
            <label for="recexp">
              <fa-icon [icon]="faBusinessTime" class="button-icon"></fa-icon>Recommended Experience
            </label>
          </span>
        </div>
      </div>
      <div class="col-12 flex-align-end">
        <div class="entry">
          <p-checkbox [binary]="true"></p-checkbox>
          Require Cover Letter
        </div>
        <div class="entry">
          <p-checkbox [binary]="true"></p-checkbox>
          Require Candidate Photo
        </div>
      </div>
      <div class="col-12 flex-align-end">
        <div class="buttons">
          <button pButton type="button" label=" " class="p-button app-button-coquelicot">
            <span style="width: 100%;">Reset</span>
          </button>
          <button pButton type="button" label=" " class="p-button p-button-primary">
            <span style="width: 100%;">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
