<div class="form-container">
  <h1 class="header">Step 1: <span class="step-title">Job Description</span></h1>
  <form class="form" #form="ngForm">
    <div class="grid">
      <div class="col-12 flex-align-end">
        <div class="entry">
          <span class="p-float-label">
            <input inputId="title" type="text" pInputText />
            <label for="title">
              <fa-icon [icon]="faTag" class="button-icon"></fa-icon>Title
            </label>
          </span>
        </div>
      </div>
      <div class="col-12 md:col-6 flex-align-end">
        <div class="entry">
          <span class="p-float-label">
            <p-dropdown inputId="industry" [autoDisplayFirst]="false" [options]="degrees" optionLabel="name" optionValue="code"></p-dropdown>
            <label for="industry">
              <fa-icon [icon]="faIndustry" class="button-icon"></fa-icon>Industry
            </label>
          </span>
        </div>
      </div>
      <div class="col-12 md:col-6 flex-align-end">
        <div class="entry">
          <span class="p-float-label">
            <p-dropdown inputId="employmenttype" [autoDisplayFirst]="false" [options]="employmentTypes" optionLabel="name" optionValue="code">
            </p-dropdown>
            <label for="employmenttype">
              <fa-icon [icon]="faFileSignature" class="button-icon"></fa-icon>Employment Type
            </label>
          </span>
        </div>
      </div>
      <div class="col-12 md:col-6 flex-align-end">
        <div class="entry">
          <span class="p-float-label">
            <input inputId="name" type="text" pInputText />
            <label for="name">
              <fa-icon [icon]="faBuilding" class="button-icon"></fa-icon>Company Name
            </label>
          </span>
        </div>
      </div>
      <div class="col-12 md:col-6 flex-align-end">
        <div class="entry">
          <span class="p-float-label">
            <p-inputNumber inputId="openspots" mode="decimal" [min]="1" [max]="100"></p-inputNumber>
            <label for="openspots">
              <fa-icon [icon]="faUserFriends" class="button-icon"></fa-icon>Open Spots
            </label>
          </span>
        </div>
      </div>
      <div class="col-12 flex-align-end">
        <div class="entry">
          <span class="p-float-label">
            <input id="location" type="text" pInputText />
            <label for="location">
              <fa-icon [icon]="faMapMarkedAlt" class="button-icon"></fa-icon>Location
            </label>
          </span>
        </div>
      </div>
      <div class="col-12 flex-align-end">
        <div class="entry">
          <span class="p-float-label">
            <textarea id="description" rows="20" pInputTextarea></textarea>
            <label for="description">
              <fa-icon [icon]="faInfoCircle" class="button-icon"></fa-icon>Description
            </label>
          </span>
        </div>
      </div>
      <div class="col-12 flex-align-end">
        <div class="buttons">
          <button pButton type="button" label=" " class="p-button app-button-coquelicot">
            <span style="width: 100%;">Reset</span>
          </button>
          <button pButton type="button" label=" " class="p-button p-button-primary">
            <span style="width: 100%;">Next</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
