<div class="grid">
  <div class="col-10 col-offset-1 md:col-8 md:col-offset-2">
    <div class="steps-container">
      <p-steps [model]="steps"></p-steps>
    </div>
    <!-- <div class="form-container">
      <h1 class="header">Step 1: <span class="step-title">Job Description</span></h1>
      <form class="form" #form="ngForm">
        <div class="grid">
          <div class="col-12 flex-align-end">
            <div class="entry">
              <span class="p-float-label">
                <input id="name" type="text" pInputText />
                <label for="name">
                  <fa-icon [icon]="faTag" class="button-icon"></fa-icon>Title
                </label>
              </span>
            </div>
          </div>
          <div class="col-12 md:col-6 flex-align-end">
            <div class="entry">
              <span class="p-float-label">
                <input id="email" type="email" pInputText />
                <label for="email">
                  <fa-icon [icon]="faIndustry" class="button-icon"></fa-icon>Industry
                </label>
              </span>
            </div>
          </div>
          <div class="col-12 md:col-6 flex-align-end">
            <div class="entry">
              <span class="p-float-label">
                <input id="contact-number" type="text" pInputText />
                <label for="contact-number">
                  <fa-icon [icon]="faFileSignature" class="button-icon"></fa-icon>Employment Type
                </label>
              </span>
            </div>
          </div>
          <div class="col-12 md:col-6 flex-align-end">
            <div class="entry">
              <span class="p-float-label">
                <input id="name" type="text" pInputText />
                <label for="name">
                  <fa-icon [icon]="faBuilding" class="button-icon"></fa-icon>Company Name
                </label>
              </span>
            </div>
          </div>
          <div class="col-12 md:col-6 flex-align-end">
            <div class="entry">
              <span class="p-float-label">
                <input id="category" type="text" pInputText />
                <label for="category">
                  <fa-icon [icon]="faUserFriends" class="button-icon"></fa-icon>Open Spots
                </label>
              </span>
            </div>
          </div>
          <div class="col-12 flex-align-end">
            <div class="entry">
              <span class="p-float-label">
                <input id="address" type="password" pInputText />
                <label for="address">
                  <fa-icon [icon]="faMapMarkedAlt" class="button-icon"></fa-icon>Location
                </label>
              </span>
            </div>
          </div>
          <div class="col-12 flex-align-end">
            <div class="entry">
              <span class="p-float-label">
                <textarea id="address" rows="20" pInputText></textarea>
                <label for="address">
                  <fa-icon [icon]="faInfoCircle" class="button-icon"></fa-icon>Description
                </label>
              </span>
            </div>
          </div>
          <div class="col-12 md:col-6 flex-align-end">
            <div class="entry">
              <button pButton type="button" label=" " class="p-button p-button-primary reset-button">
                <span style="width: 100%;">Reset</span>
              </button>
            </div>
          </div>
          <div class="col-12 md:col-6 flex-align-end">
            <div class="entry">
              <button pButton type="button" label=" " class="p-button p-button-primary submit-button">
                <span style="width: 100%;">Next</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div> -->

    <div class="form-container">
      <h1 class="header">Step 2: <span class="step-title">Profile Details</span></h1>
      <form class="form" #form="ngForm">
        <div class="grid">
          <div class="col-12 flex-align-end">
            <div class="entry">
              <span class="static-float-label">
                <div class="skills-selector">
                  <span class="p-input-icon-right skill-adder">
                    <i class="pi pi-plus"></i>
                    <input type="text" pInputText placeholder="Add Skill">
                  </span>
                </div>
                <label for="skills-selector">
                  <fa-icon [icon]="faFistRaised" class="button-icon"></fa-icon>Skills
                </label>
              </span>
            </div>
          </div>
          <div class="col-12 flex-align-end">
            <div class="entry">
              <p-checkbox [binary]="true"></p-checkbox>
              <span>I have read and accept the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></span>
            </div>
          </div>
          <div class="col-12 md:col-6 flex-align-end">
            <div class="entry">
              <button pButton type="button" label=" " class="p-button p-button-primary reset-button">
                <span style="width: 100%;">Reset</span>
              </button>
            </div>
          </div>
          <div class="col-12 md:col-6 flex-align-end">
            <div class="entry">
              <button pButton type="button" label=" " class="p-button p-button-primary submit-button">
                <span style="width: 100%;">Next</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
