.form-container {
  background-color: #FFFFFF;
  border: 1px solid rgb(0 0 0 / 14%);
  text-align: center;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.steps-container {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #FFFFFF;
  border: 1px solid rgb(0 0 0 / 14%);
  text-align: center;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.form {
  padding-top: 2rem;
}

.header {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-weight: 500;
}

.header .step-title {
  font-weight: 300;
}

.flex-align-end {
  align-self: flex-end;
}

.entry {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.entry .p-inputtext {
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #757575;
}

.entry .p-inputtext:enabled:focus {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #757575;
}

.entry .p-inputtext:enabled:hover {
  border-color: #757575;
}

.entry input, .entry textarea {
  width: 100%;
}

.entry textarea {
  resize: none;
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #757575;
}

.entry textarea:focus {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #757575;
  outline: none;
}

.entry textarea:hover {
  border-color: #757575;
}

.entry button {
  width: 100%;
}

.entry .reset-button {
  background-color: #FF2020;
  border-color: #FF2020;
  box-shadow: none;
}

.entry .reset-button:active {
    background: #FF2020;
    border-color: #FF2020;
}

.entry .reset-button:hover {
    background: #FF2020;
    border-color: #FF2020;
}

.entry p-checkbox ::ng-deep .p-checkbox {
  margin-right: 0.5rem;
}

.entry .static-float-label {
  display: block;
  position: relative;
}

.entry .static-float-label label {
  top: -.75rem;
  font-size: 12px;
  position: absolute;
  pointer-events: none;
  margin-top: -.5rem;
  line-height: 1;
  left: 0.5rem;
  color: #6c757d;
}

.entry div.skills-selector {
  resize: none;
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #757575;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.entry div.skills-selector:focus {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #757575;
  outline: none;
}

.entry div.skills-selector:hover {
  border-color: #757575;
}

.entry div.skills-selector .skill-adder {
  margin: 0.2rem;
}

.entry div.skills-selector input {
  border-radius: 20px;
  background-color: #2196F3;
  color: #FFFFFF;
  border: none;
  padding-left: 0.5rem;
  font-size: small;
}

.entry div.skills-selector input:focus {
  border: none;
}

.entry div.skills-selector input::placeholder {
  color: #FFFFFF;
  font-size: small;
}

.entry div.skills-selector .p-input-icon-right i {
  color: #FFFFFF;
  cursor: pointer;
}

