/* You can add global styles to this file, and also import other style files */
* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  position: relative;
  margin: 0;
  background-color: #FAFAFA;
  color: #495057;
}

a {
  color: #2196F3;
  text-decoration: none;
}

.p-card {
  border: 1px solid rgb(0 0 0 / 14%);
  cursor: pointer;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #4AA3E8;
}

.p-paginator {
  background: none;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  box-shadow: none;
}

.p-checkbox {
  margin-right: 0.5rem;
}

/* Absolutely positioned and was causing blank white space at the bottom of the page */
.p-checkbox .p-hidden-accessible {
  top: 0;
}

/* The following are to enable invalid styling only after the form is submitted (overriding PrimeNG) */
form:not(.ng-submitted) .p-float-label>.ng-invalid.ng-dirty+label {
  color: #6c757d;
}

form:not(.ng-submitted) .p-inputtext.ng-dirty.ng-invalid {
  border-color: #6c757d;
}

.ng-submitted .p-float-label>.ng-invalid.ng-dirty+label {
  color: #e24c4c;
}

.ng-submitted .p-inputtext.ng-dirty.ng-invalid {
  border-color: #e24c4c;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.icon-left {
  margin-right: 0.5rem;
}

.icon-right {
  margin-left: 0.5rem;
}
