.container {
  background-color: #FFFFFF;
  border: 1px solid rgb(0 0 0 / 14%);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats {
  margin-bottom: 1rem;
}

.header {
  font-weight: 500;
  margin-top: 0;
  text-align: center;
}

.stats .stat {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.stats .stat>.content {
  font-weight: 300;
  color: #888888;
}

.stats .stat>.icon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.cyan {
  color: #00BCD4;
}

.red {
  color: #FF2020;
}

.green {
  color: #4CAF50;
}

.cyan-icon {
  background-color: #C2EFF5;
  color: #00BCD4;
}

.red-icon {
  background-color: #FFC2C2;
  color: #FF2020;
}

.green-icon {
  background-color: #D4ECD5;
  color: #4CAF50;
}

.similar-offers .list {
  width: 100%;
}

.similar-offers .list>.list-item {
  border-top: 1px solid rgb(0 0 0 / 14%);
  padding: 0.5rem;
}

.similar-offers .list>.list-item:first-child {
  border-top: none;
}

.similar-offers .list>.list-item>.title {
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

.similar-offers .list>.list-item>.subtitle {
  font-weight: 300;
  font-size: 0.7rem;
}
