.container {
  background-color: #FFFFFF;
  border: 1px solid rgb(0 0 0 / 14%);
  text-align: center;
  min-height: 750px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.form {
  padding-top: 2rem;
}

.entry {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.entry .p-inputtext {
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #757575;
}

.entry .p-inputtext:enabled:focus {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #757575;
}

.entry .p-inputtext:enabled:hover {
  border-color: #757575;
}

.entry input, .entry textarea {
  width: 100%;
}

.entry textarea {
  resize: none;
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #757575;
}

.entry textarea:focus {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #757575;
  outline: none;
}

.entry textarea:hover {
  border-color: #757575;
}

.entry button {
  width: 100%;
}

.entry .upload-button {
  background-color: #FF6700;
  border-color: #FF6700;
  box-shadow: none;
}

.entry .upload-button:active {
    background: #FF6700;
    border-color: #FF6700;
}

.entry .upload-button:hover {
    background: #FF6700;
    border-color: #FF6700;
}

