<div class="grid">
  <div class="container col-6 col-offset-3">
    <h1 class="header">Register Company</h1>
    <form class="form" #form="ngForm">
      <div class="grid">
        <div class="col-6">
          <div class="entry">
            <span class="p-float-label">
              <input id="name" type="text" pInputText />
              <label for="name">Company Name</label>
            </span>
          </div>
        </div>
        <div class="col-6">
          <div class="entry">
            <span class="p-float-label">
              <input id="category" type="text" pInputText />
              <label for="category">Category</label>
            </span>
          </div>
        </div>
        <div class="col-6">
          <div class="entry">
            <span class="p-float-label">
              <input id="email" type="email" pInputText />
              <label for="email">Email</label>
            </span>
          </div>
        </div>
        <div class="col-6">
          <div class="entry">
            <span class="p-float-label">
              <input id="contact-number" type="text" pInputText />
              <label for="contact-number">Contact Number</label>
            </span>
          </div>
        </div>
        <div class="col-6">
          <div class="entry">
            <span class="p-float-label">
              <input id="password" type="password" pInputText />
              <label for="password">Password</label>
            </span>
          </div>
        </div>
        <div class="col-6">
          <div class="entry">
            <span class="p-float-label">
              <input id="password" type="password" pInputText />
              <label for="password">Confirm Password</label>
            </span>
          </div>
        </div>
        <div class="col-12">
          <div class="entry">
            <span class="p-float-label">
              <input id="address" type="password" pInputText />
              <label for="address">Address</label>
            </span>
          </div>
        </div>
        <div class="col-12">
          <div class="entry">
            <span class="p-float-label">
              <textarea id="address" rows="10" pInputTextarea></textarea>
              <label for="address">Description</label>
            </span>
          </div>
        </div>
        <div class="col-12">
          <div class="entry">
            <button pButton type="button" label=" " class="p-button upload-button"><span style="width: 100%;"><fa-icon [icon]="faUpload" class="button-icon"></fa-icon>Upload Logo</span></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
