<div class="container">
  <h1 class="header">Step 3: <span class="step-title">Preview</span></h1>
  <app-offer-details></app-offer-details>
  <div class="col-12 flex-align-end">
    <div class="buttons">
      <button pButton type="button" label=" " class="p-button app-button-coquelicot">
        <span class="w-full">Back</span>
      </button>
      <button pButton type="button" label=" " class="p-button p-button-primary">
        <span class="w-full">Confirm</span>
      </button>
    </div>
  </div>
</div>

